@model IEnumerable<FatecLibrary.Web.Models.Entities.BookViewModel>


<div class="w-100 d-flex justify-content-center align-content-md-center">
<h2>Lista de Livros</h2>
</div>
<hr />


<div class="container text-center">

    <br />
    <div class="panel panel-default">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th class="bg-black text-white border-light border-1 text-center shadow-lg">
                       Titulo
                    </th>
                    <th class="bg-black text-white border-light border-1 text-center shadow-lg">
                        Preço
                    </th>
                    <th class="bg-black text-white border-light border-1 text-center shadow-lg">
                        Ano da publicação
                    </th>
                    <th class="bg-black text-white border-light border-1 text-center shadow-lg">
                        Edição
                    </th>
                    <th class="bg-black text-white border-light border-1 text-center">
                        Opções
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="shadow-sm bg-light bg-gradient">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td class="shadow-sm bg-light bg-gradient">
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td class="shadow-sm bg-light bg-gradient">
                            @Html.DisplayFor(modelItem => item.PublicationYear)
                        </td>
                        <td class="shadow-sm bg-light bg-gradient">
                            @Html.DisplayFor(modelItem => item.Edition)
                        </td>
                        <td align="center" class="shadow-sm bg-light bg-gradient">
                            <a asp-action="UpdateBook" asp-route-id="@item.Id" title="Edit" class="btn btn-warning">
                                <span class="fas fa-edit"></span>
                            </a>
                            <a asp-action="DeleteBook" asp-route-id="@item.Id" title="Delete" class="btn btn-danger">
                                <span class="fas fa-trash-alt"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="pull-left">
                        <a asp-action="CreateBook" class="btn btn-primary">
                            <span title="Create New" class="fas fa-plus"></span> Adicionar Livro
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
